html, body { 
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.container {
    text-align: center;
    margin-top: 20px;
    flex: 1;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #f18700; /* Couleur primaire */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s ease, transform 0.3s ease;
    margin: 10px;
}

.btn:hover {
    background: #79c6c0; /* Couleur tertiaire */
    transform: scale(1.05);
}

.nonlu {
    color: red;
}

.lu {
    color: green;
}

.cube {
    width: 45%;
    padding: 10px;
    margin: 10px;
    background-color: rgb(238, 231, 231);
    float: left;
}

.ZoneMessage {
    background-color: rgb(223, 205, 205);
    margin: auto;
    width: 80%;
    padding: 10px;
}

.footer {
    background-color: #f18700;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
    margin: 10px;
}

.footer-left h3, .footer-center h4, .footer-right h4 {
    margin-bottom: 10px;
}

.footer-left p, .footer-center p, .footer-right p {
    margin: 5px 0;
}

.social-links a {
    margin: 0 10px;
    display: inline-block;
}

.social-links img {
    width: 24px;
    height: 24px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.social-links img:hover {
    opacity: 1;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}